<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gstyles.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
   <div>
        <div class="topnav"> 
            <a class = "{{ 'active' if active_page == 'home' else '' }}" href="/">Home</a>  
            <a class = "{{ 'active' if active_page == 'index' else '' }}" href="/message-index">Messages</a>
            <a class = "{{ 'active' if active_page == 'calculate-sum' else '' }}" href="/calc-add">Calculate - Sum</a>
            <a class = "{{ 'active' if active_page == 'to_do' else '' }}" href="/to-do">To Do</a>
            <a class = "{{ 'active' if active_page == 'math_games' else '' }}" href="/math_games">Math Games</a>
        </div>
    {% block navbar %} {% endblock %}
    {% block main_content %} {% endblock %}
    </div>
</body>
</html>