{% extends 'base.html' %}

    {% block head %}  
        <title>Adding Two Numbers</title>
    {% endblock %}

    {% set active_page = 'calculate-sum' %}
    {% block navbar %}{% endblock %}
    
    {% block main_content %}

        <div>
            <div>
                <label>Add two numbers</label>
            </div>
                <div>
                    <form action="/sum" enctype="multipart/form-data" method="post">
                        <label for="num1">first number:&nbsp;
                            <input type="number" name="num1" required>
                        </label>
                        <label for="num2">second number:&nbsp;
                            <input type="number" name="num2" required>
                        </label>
                        <br>
                        <input type="submit" value="SUM">
                    </form>
                </div>
            {% if sum %}
                <h2>Sum of {{ num1 }} and {{ num2 }} is {{ sum }}.
                    <br>
                    Isn't it awesome? :-D
                </h2>
                
            {% endif%}    
        </div>
    {% endblock %}        
