{% extends 'base.html' %}
    {% block head %}
        <title>Message Lookup</title>
    {% endblock %}
    
    {% set active_page = 'index' %}
    {% block navbar %}{% endblock %}

    {% block main_content %}
        <div>
            <h2><a href="{{ url_for('index') }}">🔍</a> Message Lookup</h2>
            <form action="{{ url_for('upload_and_query') }}" enctype="multipart/form-data" method="post">
                <input type="file" name="myfile_name" id="myfile_ID" accept="application/json"><br>
                {% if file_name %}
                <label class="current_file" for="myfile_name">Current File: {{ file_name }}</label><br>
                {% endif %}
                <input type="text" name="message_number" id="message_id" placeholder="Input key here:  e.g. 123" required><br><br>
                <input type="submit" value="LOOKUP">
            </form>
            {% if result is not none %}
                <div class="result">
                    <strong>Message {{ message_id }}</strong><br>
                    <hr>
                    <pre>{{ result }}</pre>
                </div><br><br>
            {% endif%}

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
        </div>
    {% endblock %}