{% extends 'base.html' %}

    {% block head %}  
        <title>Task Matters V2</title>
    {% endblock %}

    {% set active_page = 'to_do' %}
    {% block navbar %}{% endblock %}
    
    {% block main_content %}

        <div class="content">
            <div>
                <h1>Tasks To Do</h1>
            </div>
                {% if tasks|count < 1%}
                <h3>There are no tasks... Create one here!</h3>
                {% else %}
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Added</th>
                        <th>Actions</th>
                    </tr>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.content }}</td>
                        <td>{{ task.created.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                        <td>
                            <a href="/to-do/edit/{{task.id}}">🖍️</a>
                            <a href="/to-do/delete/{{task.id}}" >🗑️</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                    <form action="/to-do" enctype="multipart/form-data" method="post">
                        <input type="text" name="content" id="content" required>
                        <input type="submit" value="Add Task" id="btn_add">
                    </form>
                
        </div>
    {% endblock %}        
